<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!---Custom CSS File--->
    <link rel="stylesheet" href="/assets/css/upload.css" />
    <link rel="stylesheet" href="/assets/css/loader.css"/>
    <link rel="stylesheet" href="/assets/css/loader1.css"/>
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
      * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
      }
      body {
        /* background: #f2f2f2; */
        background-color: rgb(88, 56, 250);
        display: flex;
        flex-direction: column;
        padding: 0;
      }
      nav {
        background: #171c24;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 0 100px;
        width: 100%;
      }
      nav .logo {
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: -1px;
      }
      nav .nav-items {
        display: flex;
        flex: 1;
        padding: 0 0 0 40px;
      }
      nav .nav-items li {
        list-style: none;
        padding: 0 15px;
      }
      nav .nav-items li a {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
      }
      nav .nav-items li a:hover {
        color: #ff3d00;
      }
      nav form {
        display: flex;
        height: 40px;
        padding: 2px;
        background: #1e232b;
        min-width: 18% !important;
        border-radius: 2px;
        border: 1px solid rgba(155, 155, 155, 0.2);
      }
      nav form .search-data {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color: #fff;
        font-size: 17px;
        border: none;
        font-weight: 500;
        background: none;
      }
      nav form button {
        padding: 0 15px;
        color: #fff;
        font-size: 17px;
        background: #ff3d00;
        border: none;
        border-radius: 2px;
        cursor: pointer;
      }
      nav form button:hover {
        background: #e63600;
      }
      nav .menu-icon,
      nav .cancel-icon,
      nav .search-icon {
        width: 40px;
        text-align: center;
        margin: 0 50px;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
        display: none;
      }
      nav .menu-icon span,
      nav .cancel-icon,
      nav .search-icon {
        display: none;
      }
      @media (max-width: 1245px) {
        nav {
          padding: 0 50px;
        }
      }
      @media (max-width: 1140px) {
        nav {
          padding: 0px;
        }
        nav .logo {
          flex: 2;
          text-align: center;
        }
        nav .nav-items {
          position: fixed;
          z-index: 99;
          top: 70px;
          width: 100%;
          left: -100%;
          height: 100%;
          padding: 10px 50px 0 50px;
          text-align: center;
          background: #14181f;
          display: inline-block;
          transition: left 0.3s ease;
        }
        nav .nav-items.active {
          left: 0px;
        }
        nav .nav-items li {
          line-height: 40px;
          margin: 30px 0;
        }
        nav .nav-items li a {
          font-size: 20px;
        }
        nav form {
          position: absolute;
          top: 80px;
          right: 50px;
          opacity: 0;
          pointer-events: none;
          transition: top 0.3s ease, opacity 0.1s ease;
        }
        nav form.active {
          top: 95px;
          opacity: 1;
          pointer-events: auto;
        }
        nav form:before {
          position: absolute;
          content: "";
          top: -13px;
          right: 0px;
          width: 0;
          height: 0;
          z-index: -1;
          border: 10px solid transparent;
          border-bottom-color: #1e232b;
          margin: -20px 0 0;
        }
        nav form:after {
          position: absolute;
          content: "";
          height: 60px;
          padding: 2px;
          background: #1e232b;
          border-radius: 2px;
          min-width: calc(100% + 20px);
          z-index: -2;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        nav .menu-icon {
          display: block;
        }
        nav .search-icon,
        nav .menu-icon span {
          display: block;
        }
        nav .menu-icon span.hide,
        nav .search-icon.hide {
          display: none;
        }
        nav .cancel-icon.show {
          display: block;
        }
      }
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      .content header {
        font-size: 30px;
        font-weight: 700;
      }
      .content .text {
        font-size: 30px;
        font-weight: 700;
      }
      .space {
        margin: 10px 0;
      }
      nav .logo.space {
        color: red;
        padding: 0 5px 0 0;
      }
      @media (max-width: 980px) {
        nav .menu-icon,
        nav .cancel-icon,
        nav .search-icon {
          margin: 0 20px;
        }
        nav form {
          right: 30px;
        }
      }
      @media (max-width: 350px) {
        nav .menu-icon,
        nav .cancel-icon,
        nav .search-icon {
          margin: 0 10px;
          font-size: 16px;
        }
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="menu-icon">
        <span class="fas fa-bars">
          <i class="icon ion-android-menu" style="font-size: 30px"></i>
        </span>
      </div>
      <div class="logo">Auction 2.0</div>
      <div class="nav-items">
        <li><a href="/home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/home/uploadItem">UploadItem</a></li>
        <li><a href="/logout">Logout</a></li>
      </div>
      <div class="search-icon">
        <span class="fas fa-search">
          <i class="icon ion-search" style="font-size: 30px"></i>
        </span>
      </div>
      <div class="cancel-icon">
        <span class="fas fa-times">
          <i class="icon ion-close-round" style="font-size: 30px"></i>
        </span>
      </div>
      <form action="#" style="z-index: 9">
        <input
          type="search"
          class="search-data"
          placeholder="Search"
          required
        />
        <button type="submit" class="fas fa-search">
          <i class="icon ion-search"></i>
        </button>
      </form>
    </nav>
    <section class="container" style="margin-top: 50px;">
      <header>Upload Item</header>
      <form action="/home/uploadItem" class="form" method="post" enctype="multipart/form-data">
        <div class="input-box">
          <label>Product name</label>
          <input type="text" placeholder="Enter Product name" required id="name"/>
        </div>

        <div class="input-box">
          <label>Description</label>
          <input type="text" placeholder="Enter Description" required id="details"/>
        </div>

        <div class="column">
          <div class="input-box">
            <label>Base price</label>
            <input type="number" placeholder="Enter base price" required id="base_price"/>
          </div>
          <div class="input-box">
            <label>Time stamp(in days)</label>
            <input type="number" placeholder="Enter birth date" required min="1" max="7" id="time_stamp"/>
          </div>
        </div>
        </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter address" required id="location"/>
        </div>
        <div class="input-box">
          <label>Upload Photos</label>
          <input type="file" accept="image/*" placeholder="Upload your files" required multiple id="photos"/>
        </div>
        <div class="submit">
          <button class="cta" style="width: 50%;" >
            <span class="span">Submit</span>
            <span class="second">
              <svg width="50px" height="20px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path class="one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                  <path class="two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                  <path class="three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                </g>
              </svg>
            </span>
          </button>
        </div>
      </form>
    </section>
    <script>
      const menuBtn = document.querySelector(".menu-icon span");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const items = document.querySelector(".nav-items");
      const form = document.querySelector("form");
      menuBtn.onclick = () => {
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
      cancelBtn.onclick = () => {
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
      };
      searchBtn.onclick = () => {
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/upload.js"></script>
  </body>
</html>
