<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/verify.css" />
    <title>Auction Website</title>
  </head>
  <body>
    <div class="js-container container" style="top: 100px !important"></div>

    <div
      style="
        text-align: center;
        margin-top: 30px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 100px;
        left: 0px;
      "
    >
      <div class="checkmark-circle">
        <div class="background"></div>
        <div class="checkmark draw"></div>
      </div>
      <h1><%= msg %>!</h1>
      <p><%= body %></p>
      <button class="submit-btn"><a href="/login">Continue</a></button>
    </div>
    <script src="/assets/js/verify.js"></script>
  </body>
</html>
